@charset "utf-8";

/* 모바일용 CSS */
/* 슬라이더 영역 CSS */
.newsroom-slider {
    position: static;
}
.newsroom-slider img{
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}

/* 최근 글 영역 CSS */
.news-section{
    margin-top:77px;
}    
.news-section .sec-tit{
    margin-bottom:60px;
    text-align:center;
}   
.news-section .news-list li{
    clear: both;
    width:80%;
    padding: 5%;
    margin: auto;
}
.news-section .news-list li .news-image{
    float: left;
    width:30%;
    padding-right: 10%;
}
.news-section .news-list li .news-image img{
    width:100%;
    height: auto;
}
.news-section .news-list li .news-text{
    color:#373737;
    line-height:1.5;
    font-size: 1.5vw;
    width: 100%;
}
.news-section .news-list li .news-text h3{
    font-size: 2vw;
    padding-bottom: 2%;
}
.news-section .news-list li .news-text time{
    color:#888686;
    font-size: 1vw;
}
.divider {
    margin-top: 20px;
}

/* 태블릿용 CSS */
@media (min-width: 768px){
    .divider {
        margin-top: 100px;
    }
}

/* PC용 CSS */
@media all and (min-width:1132px){
    /* 최근 글 영역 CSS */
    .news-section .sec-tit{
        margin-bottom:76px;
    }   
    
    .divider {
        margin-top: 10%;
    }
}