@charset "utf-8";

/* 모바일용 CSS */
/* 슬라이더 영역 CSS */
.introduce-slider {
    position: static;
}
.introduce-slider img{
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}

/* 최근 글 영역 CSS */
.news-section{
    margin-top:77px;
}    
.news-section .sec-tit{
    margin-bottom:60px;
    text-align:center;
}   
.news-section .news-list li{
    clear: both;
    width:100%;
    margin-top:60px;
    padding: 5%;
}
.news-section .news-list li .news-image{
    float: left;
    width:30%;
}
.news-section .news-list li .news-image img{
    width:100%;
    height: auto;
}
.news-section .news-list li .news-text{
    float: right;
    color:#424242;
    line-height:1.5;
    margin-left: 5%;
    font-size: 20px;
    width: 60%;
}
.news-section .news-list li .news-text h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* PC용 CSS */
@media all and (min-width:1132px){
    /* 최근 글 영역 CSS */
    .news-section .sec-tit{
        margin-bottom:76px;
    }   
}